{% extends 'layouts/base2.html' %}
{% block content %}
<main> 
    <h1>Tabla </h1>
    <div class="recent">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>13/05/2023</td>
                    <td>No se permitió...</td>
                    <td>......</td>
                </tr>
            </tbody>
            <a href="#">show more</a>
        </table>
    </div>
</main>
{% endblock %}